html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	max-height: 500%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2{
	font-size: 30px;
}

/*Îáùèå ñòèëåâûå ðåøåíèÿ*/
.highlight {

}

.Width100pc {
	width: 100%;
	margin-left: 0;
}

.Center70pc{
	margin-left: 15%;
	width: 70%;
}

/*Ñòèëè òåãîâ çàãîëîâêîâ*/
.H1 {
	position: absolute;
	margin-left: 1000px;
	margin-top: 100px;
	font-size: 80px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	opacity: 1;
}

/*Header and Footer*/
.header {
	position: absolute;
	margin-left: 15%;
	margin-top: 20px;
	width: 70%;
	height: 100px;
	display: flex;
}
.footer {
	display: flex;
	flex-direction: row;
	background-color: #262626;
	width: 100%;
	height: 300px;
	margin-left: 0%;
	margin-bottom: 0%;
	color: white;
}
.BMWlogo{
	width: 100px;
	height: 100px;
}


.MainBlock {
	margin-left: 15%;
	width: 70%;
}
.HeadingText {
	color: white;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 20px;
	padding-top: 20px;
}
.MainDescrText {
	color: black;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	padding: 0px 20px 20px 20px;
}
.DescriptionText {
	color: #B1B1B1;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 20px 0 20px;
}
.gen {
	position: relative;
	margin: 0.1vw;
}
.gen-info {
	display: flex;
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	flex-flow: column nowrap;
	background-color: rgba(0, 0, 0, 0.8);
}
.gen:hover .gen-info {
	visibility: visible;
}

/*Ñòèëè äëÿ ìåíþ õýäåðà*/
.menu {
	margin-left: 10px;
	width: 500px;
	height: 50px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: space-around;
}
.menu-ul {
	display: flex;
	justify-content: space-between;
	align-items: center
}
.menu-item > a {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	text-decoration: none;
	margin: 0 10px;
}
.menu-item:first-child {
	margin-left:0;
}
.menu-item:last-child {
	margin-right: 0;
}


.generations-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.generations-wrapper > * {
	flex: 1 1 46%;
}

/*Ñòèëè äëÿ îñíîâíîãî òåêñòà*/
.OsnText {
	width: 70%;
	margin-left: 15%;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 35px;
	color: #000000;
}

/*Îôîðìëåíèå ôóòåðà*/
.footerList, .footerSosial {
	margin-left: 15%;
	padding-top: 20px;
	width: 35%;
}
.footerHeading {
	color: white;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}
.footer-menu-item {
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer-menu-item:first-child {
	margin-top: 20px;
}

.footer-menu-item > a {
	font-family: 'Montserrat', sans-serif;
	color: #B1B1B1;
	text-decoration: none;
}
.footer-menu-item > a:hover {
	color: white;
}

.footerCopy{
	position: absolute;
	font-size: 18px;
	color: white;
	margin-top: 20px;
}
/*Ñòèëè äëÿ èêîíîê ôóòåðà*/
.icon {
	color: #B1B1B1;
	font-size: 20px;
}
.icon:hover {
	color: white;
}

/*Ñòèëè äëÿ çàãëàâíûõ êàðòèíîê*/
.FirstImg {	
	width: 100%;
	height: 100vh;
	background-image: url("Photo/newM3/NewM3(1).jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #547167;
}
.FirstImgGen {
	width: 100%;
	height: 100vh;
	background-image: url("Photo/AllGen1.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #547167;
}
.FirstImgMSeries {
	width: 100%;
	height: 100vh;
	background-image: url("Photo/newM3/NewM3(2).jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #547167;
}
.FirstImgMap {
	width: 100%;
	height: 100vh;
	background-image: url("Photo/BMW-AllGen.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #547167;
}

/*стили карты*/
.Map{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15%;
}
.MapStyle{
	width: 720px; 
    height: 540px;
}


/*бургер меню*/

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стили кнопки */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  visibility: hidden;
}
/* гамбургер */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  background-color: black;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
   background-color: black;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
   background-color: black;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .4s;
}
.menu__box {
  transition-duration: .4s;
}
.menu__item {
  transition-duration: .4s;
}


@media(max-width: 768px){
	.header {
		position: absolute;
		margin-left: 0;
		margin-top: 0;
		width: 100%;
		height: 100px;
		display: flex;
		z-index: 50;
	}
	.BMWlogo {
		margin: 10px 0 0 10px;
		width: 80px;
		height: 80px;
	}
	.menu{
		display:block;
		position:relative;
		width: 40px;
		height: 40px;
	}
	.FirstImg {
		width: 100%;
		height: 30vh;
		background-image: url("Photo/newM3/NewM3(1).jpg");
		background-repeat: no-repeat;
		margin: 0;
		background-color: #547167;
	}
	.FirstImgGen {
		width: 100%;
		height: 30vh;
		background-repeat: no-repeat;
		margin: 0;
		background-color: #547167;
		background-image: url("Photo/AllGen1.jpg");
	}
	.FirstImgMSeries {
		width: 100%;
		height: 30vh;
		background-repeat: no-repeat;
		margin: 0;
		background-color: #547167;
		background-image: url("Photo/newM3/NewM3(2).jpg");
	}
	.FirstImgMap {
		width: 100%;
		height: 30vh;
		background-repeat: no-repeat;
		margin: 0;
		background-color: #547167;
		background-image: url("Photo/BMW-AllGen.jpg");
	}

	.menu-item > a {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		color: white;
		text-decoration: none;
		margin: 0 5px;
	}
	.Vnone {
		display: none;
	}
	.MapStyle {
		width: 400px; 
    	height: 300px;
	}
	.menu__btn {
  		display: flex; /* используем flex для центрирования содержимого */
  		align-items: center;  /* центрируем содержимое кнопки */
  		position: fixed;
  		top: 20px;
  		right: 20px;
  		width: 26px;
  		height: 26px;
  		cursor: pointer;
  		z-index: 1;
  		visibility: visible;
	}

	.footer{
		display: flex;
		flex-direction: column;
		background-color: #262626;
		width: 100%;
		height: 600px;
		margin-left: 0%;
		margin-bottom: 0%;
		color: white;
	}
	.footerCopy {
		position: absolute;
		font-size: 18px;
		color: white;
		margin-top: 180px;
	}
	.footerList, .footerSosial {
		margin-left: 10%;
		padding-top: 20px;
		width: 80%;
	}
}

@media(max-width: 360px){
	.generations-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.generations-wrapper > * {
		flex: 1 1 90%;
	}
	.footerList, .footerSosial {
		margin-left: 10%;
		padding-top: 20px;
		width: 80%;
	}
}